#person-notes-container {
    display: flex;
    justify-content: center;
}

#person-notes-container > ul {
    padding: 0 1em;
}

#person-notes-container > ul:first-child {
    flex: 1;
    text-align: right;
}

#person-notes-container > ul:last-child {
    flex: 1;
    text-align: left;
}

#person-notes-container li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.person-notes-list img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

/* --------------------------------- */

#person-notes-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#person-notes-table caption {
    display: none;
}

#person-notes-table tr > * {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#person-notes-table tr:first-child > * {
    border: none;
}

#person-notes-table tr:last-child > * {
    border: none;
}

#person-notes-table tr th {
    width: 20%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#person-notes-table tr td {
    width: 40%;
}

#person-notes-table tr td:first-child {
    text-align: right;
    padding-right: 1em;
}

#person-notes-table tr td:last-child {
    text-align: left;
    padding-left: 1em;
}

#person-notes-table tbody tr.thumbnail-container img, 
#person-notes-table tbody tr.thumbnail-container svg {
    width: 50%;
    height: auto;
    border-radius: 50%;
}