.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#wealth-comparison-container {
    display: flex;
    justify-content: center;
}

#wealth-comparison-container .person-container:first-child {
    padding-right: 1em;
    border-right: solid;
}

#wealth-comparison-container .person-container:last-child {
    padding-left: 1em;
}

/* TEMP */
#random-buttons {
    display: flex;
}

#random-buttons > button {
    flex: 2;
    padding: 1em;
}